body,html {
  background-color: #dedbc8;
  margin:0px;
  padding:0px;
  width:100%;
}
/*
https://stackoverflow.com/questions/42234855/is-it-possible-to-draw-a-partial-circle-outline-in-css-open-ring-shape
http://jsfiddle.net/hashem/u78bQ/2/ - half-circle
http://dabblet.com/gist/5476973 https://stackoverflow.com/questions/16263358/quarter-of-a-ring-with-css-and-html - quarter circles
https://stackoverflow.com/questions/20588203/css-concentric-circles
green: #2DA850
red: #960d16
blue: #3d8bfe
yellow: #c7a618
*/
#main {
  width: 500px;
  margin: 50px auto;
}
#game {
	width: 500px;
	height: 500px;
	background: #323230;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 50%;
}/* Cleaner, but slightly less support: use "50%" as value https://css-tricks.com/examples/ShapesOfCSS/ */
#controls {
  background: #323230;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: 150px;

}
#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#topleft {
  width: 250px;
  height: 250px;
}
#green {
  width: 250px;
  height: 250px;
  //margin: 25px 0px 25px 25px;
  background: #2DA850;
  border-radius: 100% 0 0 0;
}
#topright {
  width: 250px;
  height: 250px;
}
#red {
  width: 250px;
  height: 250px;
  //margin: 25px 25px 25px 25px;
  background: #960d16;
  border-radius: 0 100% 0 0;
}
#bottomleft {
  width: 250px;
  height: 250px;
}
#blue {
  width: 250px;
  height: 250px;
  //margin: 25px 25px 25px 25px;
  background: #3d8bfe;
  border-radius: 0 0 0 100%;
}
#bottomright {
  width: 250px;
  height: 250px;
}
#yellow {
  width: 250px;
  height: 250px;
  //margin: 25px 25px 25px 25px;
  background: #c7a618;
  border-radius: 0 0 100% 0;
}
