body,html {
  background-color: #dedbc8;
  margin:0px;
  padding:0px;
  width:100%;
}
h1 {
  margin: 0 0 0 0;
  padding: 10px 0 5px 0;
  font-size: 32px;
  font-family: 'Bree Serif', serif;
  font-weight: bolder;
}
p {
  margin: 0;
  padding: 0 5px 0 5px;
}
.controls {
  list-style: none;
  position: absolute;
  margin: 23px 0 0 -30px;
}
.controls li:first-child{
  margin-left: 1px; 
}
.controls li{
  display: inline;
  font-size: 8px;
  font-family: 'Bree Serif', serif;
}
.controls li + li{
  margin-left: 14px;
}
.controls li + li + li{
  margin-left: 13px;
}
.power{
  margin: -5px 0 0 0;
  font-size: 12px;
}
.count{
  margin-top: 2px;
  color: red;
  font-family: 'Orbitron', sans-serif;
}
#main {
  width: 320px;
  margin: 50px auto;
}
#game {
	width: 320px;
	height: 320px;
	background: #323230;
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;
	border-radius: 50%;
}
#center {
  background: #323230;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin-left: 87px;
  margin-top: 87px;
  position: absolute;
}
#controlarea {
  background: #eee9ed;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  margin-left: 7.3px;
  margin-top: 7.3px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#controls {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#controls div {
  margin-left: 9px;
  margin-right: 8px;
}

#count {
  width: 32px;
  height: 25px;
  background: black;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: -20px;
}
#start {
  margin: 7px 0 0 0;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: red;
}
#strict {
  margin: 7px 0 0 0;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: yellow;
}
#strictled {
  position: absolute;
  margin: 53px 0 0 102px;
  border-radius: 50%;
  border: 2px solid black;
  border-width: 1px;
  width: 5px;
  height: 5px;
  background-color: red;
}
#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 22px;
  padding-left: 22px;
}
#power {
  margin-top: 22px;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
#registered {
  font-size: 10px;
  position: absolute;
  margin: 23px 0 0 108px;
  padding: 0;
}
#topleft {
  width: 145px;
  height: 145px;
}
#green {
  width: 131px;
  height: 131px;
  background: #2DA850;
  border-radius: 100% 0 0 0;
}
#topright {
  width: 145px;
  height: 145px;
}
#red {
  width: 131px;
  height: 131px;
  background: #960d16;
  border-radius: 0 100% 0 0;
}
#bottomleft {
  width: 145px;
  height: 145px;
}
#yellow {
  width: 131px;
  height: 131px;
  background:  #c7a618;
  border-radius: 0 0 0 100%;
}
#bottomright {
  width: 145px;
  height: 145px;
}
#blue {
  width: 131px;
  height: 131px;
  background: #3d8bfe;
  border-radius: 0 0 100% 0;
}
/* POWER switch - the box around the slider */
.switch {
  margin: -1px 0 0 0;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 8.5px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 0px;
  bottom: 1px;
  background-color: #323230;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #11772d;
}
input:focus + .slider {
  box-shadow: 0 0 0.5px #11772d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(7.6px);
  -ms-transform: translateX(7.6px);
  transform: translateX(7.6px);
}