body,html {
  background-color: #dedbc8;
  margin:0px;
  padding:0px;
  width:100%;
}
h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 60px;
  font-family: 'Bree Serif', serif;
  font-weight: bolder;
}
p {
  margin: 0;
  padding: 0 5px 0 5px;
}
#main {
  width: 550px;
  margin: 50px auto;
}
#game {
	width: 550px;
	height: 550px;
	background: #323230;
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;
	border-radius: 50%;
}
#center {
  background: #323230;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 150px;
  position: absolute;
}
#controlarea {
  background: #eee9ed;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  margin-left: 12.5px;
  margin-top: 12.5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#controls {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#controls div {
  margin: 5px 20px 0 20px;
}
#count {
  width: 40px;
  height: 30px;
  background: black;
  border-radius: 5px;
}
.controls {
  margin-top: 30px;
  font-size: 10px;
}
#start {
  border-radius: 50%;
  border: 2px solid black;
  border-width: 2px;
  width: 15px;
  height: 15px;
  background-color: red;
}
#strict {
  border-radius: 50%;
  border: 2px solid black;
  border-width: 2px;
  width: 15px;
  height: 15px;
  background-color: yellow;
}
#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 37.5px;
  padding-left: 37.5px;
}
#power {
  margin-top: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
#registered {
  font-size: 13px;
  position: absolute;
  margin: 45px 0 0 193px;
  padding: 0;
}
#topleft {
  width: 250px;
  height: 250px;
}
#green {
  width: 225px;
  height: 225px;
  background: #2DA850;
  border-radius: 100% 0 0 0;
}
#topright {
  width: 250px;
  height: 250px;
}
#red {
  width: 225px;
  height: 225px;
  background: #960d16;
  border-radius: 0 100% 0 0;
}
#bottomleft {
  width: 250px;
  height: 250px;
}
#yellow {
  width: 225px;
  height: 225px;
  background:  #c7a618;
  border-radius: 0 0 0 100%;
}
#bottomright {
  width: 250px;
  height: 250px;
}
#blue {
  width: 225px;
  height: 225px;
  background: #3d8bfe;
  border-radius: 0 0 100% 0;
}
/* POWER switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #323230;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #11772d;
}
input:focus + .slider {
  box-shadow: 0 0 1px #11772d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}